:root {
    --darkBlue: #062766;
    --palePurple: #e4bbe7;
    --black: #1e1e1e;
   --darkPurple: #80036d;
    --brightBlue: #b8d1f8;
    --darkGray: #3f3f3f;
    --gray: #dcdcdc;
    --white: #ffffff;
  }